/*
    fuentes
*/

@font-face{
    font-family: 'simple-r';
    src: url('./fonts/Simple-regular.ttf');
}

@font-face{
    font-family: 'digital';
    src: url('./fonts/digital-7.ttf');
}

.page{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
}

/*
DIV 1
*/

#confSize{
    border:1px solid white;
}

#confSize > input::placeholder{
    text-align: center;
    font-size: 20px;
}

#confSize > label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}

#confSize > input{
    height: 20px;
    width: 40%;
    min-width: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#gameControls{
    display: none;
}

#abandonar{
    display: none;
}

label {
    color:white;
}

#inputs{
    background-color: #343a40;
    width: 20%;
    border-right: 1px solid white;
    min-width: 400px;
    font-family: 'simple-r';
    letter-spacing: 1px;
}

#inputs > div:nth-child(1) {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
}

#inputs > div > div > input{
    height: 20px;
    width: 50%;

    font-size: 20px;
    font-weight: bold;

    text-align: center;
    margin-top: 5px;

}

#inputs > div > div > div{
    width: 60px;
    height: 60px;
    border:1px solid white;
    margin-bottom: 15px;
}

#inputs > div > div:nth-child(2) > span{
    margin-bottom: 10px;
}

#inputs > div > div > div > span{
    font-family:'digital';
    font-size: 25px;
    color: white;
}

.inputs{
    padding: 0px;
    margin-bottom: 20px;
    width: 80%;
}

#botones{
    width: 100%;
}

button{
    border: 1px solid white;
    color: white;
    background-color: #343a40;
    height: 40px;
}

input{
    font-family: 'digital';
}

button:active{
    box-shadow: none;
    border: none;
}

button:focus{
    outline:none;
}
  
#errortxt{
    color: white;
    font-size: 12px;
    font-family: 'Arial';
}

#estadisticas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

#estadisticas > div:nth-child(2){
    width: 90%;
    height: 200px;
    border: 1px solid white;
}

#estadisticas > div > div {
    margin-right: 10px;
}

#estadisticas > div > div > span {
    margin-bottom: 10px;
}


#estadisticas > div > div:nth-child(3){
    margin-right: 0px;
}

#puntuacioActual{
    width: 90%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;;
}

#puntuacio{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fdfcae;
    font-weight: bold;
}

#vida{
    width: 50%;
}

#vida > img {
    width: 30px;
    height: 30px;
    filter: invert(100);
    margin-top: 5px;
}

#puntuacio{
    
}

/*
DIV 2
*/
#gameDisplay{
    width: 80%;
    background-color: #191f26;
    background-image: url('../resources/backgrounds/waiting.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#gameDisplay > div > div > div {
    border: 1px solid white;
    margin:5px;
    color: white;
}

.board{
    background-color: white;
    cursor: pointer;
}

.board > img{
    margin-bottom: 65px;
}

.grass{
    width: 70px;
    height: 70px;
    margin-bottom: 0px !important;
}

.grass-destapat{
    filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
}

.min{
    width: 35px;
    height: 35px;
}

.normal{
    width: 50px;
    height: 50px;
}

.max{
    width: 70px;
    height: 70px;
}



/* sobreescritura */

.destapat{
    background-color: transparent;
}