/*
    fuentes
*/

@font-face{
    font-family: 'simple-r';
    src: url('./fonts/Simple-regular.ttf');
}

@font-face{
    font-family: 'digital';
    src: url('./fonts/digital-7.ttf');
}

@font-face{
    font-family: 'pixel';
    src: url('./fonts/pixel-font.ttf');
}

span, h1, h2, h3, h4, input, button, label{
    font-family: 'pixel';
    letter-spacing: 2px;
}

.page{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
}

body > div:nth-child(1){
    background-image: url('../resources/backgrounds/cemetery-d.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*
DIV 1
*/
#confSize > input::placeholder{
    text-align: center;
    font-size: 20px;
}

#panel {
    background-image: url('../resources/brick.jpg');
    background-size: 180px 180px;
    border: 1px solid #404040;
    height: 47px;
    width: 95%;
    background-size: 190px 190px;
    border-radius: 5px;
}

#panel > div > label{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #121312;
}

#panel > div {
    background-color: #343531;
    border: 1px solid #404040;
    width: 95%;
    height: 60%;
    border-radius: 6px;
}


#entrada {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background: radial-gradient(#343531 61%, #404040 0%);
    border-radius: 50%;
    border: 1px solid #121312;
}

#entrada > input{
    height: 40px;
    width: 40px;
    min-width: 10px;
    font-size: 32px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    text-align: center;
    color: #121312;
}

#gameControls{
    display: none;
    width: 90%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #404040;
    background-image: url('../resources/brick.jpg');
    background-size: 180px 180px;
}

#gameControls > div:nth-child(1){
    background-color: #404040;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #121312;
}

#gameControls > div:nth-child(2){
    background-color: #343531;
    width: 70px;
    height: 70px;
    border: 1px solid #404040;
    border-radius: 4px;
}

#gameControls > div:nth-child(2) > span{
    font-size: 25px;
    color:  #121312;
    text-shadow: -1px -1px 0px #404040;
}

#gameControls > div:nth-child(3){
    background-color: #404040;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #121312;
}

.inputs{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    border:none;
    text-align: center;
    background-color: #343531;
    color: #121312;
    text-shadow: -1px -1px 0px #404040;
}

#botones{
    width: 90% !important;
    height: 150px;
    border-radius: 15px;
}

#abandonar{
    display: none;
}



#inputs{
    width: 20%;
    min-width: 400px;
    letter-spacing: 1px;
    background-image: url('../resources/wall.png');
    background-size: 100%;
    border: 1px solid #404040;
}

#inputs > div:nth-child(2) > div > div{
    width: 60px;
    height: 60px;
    background-color: white;
}

#inputs > div:nth-child(2) > div > div {
    font-size: 25px;
    font-weight: bold;
    color: #404040;
    letter-spacing: 3px;
}

.buttons{
    padding: 0px;
    width: 80%;
    border: 1px solid #404040;
    color: #121312;
    text-shadow: -1px -1px 0px #404040;
    font-weight: bold;
    font-size: 19px;
    background-color: #343531;
    box-shadow: 0px 3px 0px #121312;
    height: 40px;
    border-radius: 1px;
    transition: color 0.2s, text-shadow 0.2s;
}

.buttons:hover{
    color: #0a5d00;
    /*text-shadow: -1px -1px 0px #121312;*/
}

#botones{
    width: 100%;
}

#submit {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
}

button:active{
    box-shadow: none;
    border: none;
}

button:focus{
    outline:none;
}

input:focus{
    outline: none;
    color: #0a5d00 !important;
}

input{
    transition: color 0.2s;
}

#estadisticas{
    width: 100%;
    color: white;
}
#estadisticas > div:nth-child(2){
    width: 90%;
    height: 200px;
    border: 1px solid #404040;
}

#estadisticas > div > div:nth-child(3){
    margin-right: 0px;
}

#cookies {
    background-color: #343531;
    flex-wrap: wrap;
    padding: 5px;
}

#cookies > div {
    height: 25px;
}

.cookie-container{
    width: 80px;
    height: 50px;
    background-color: #404040;
    border: 1px solid #121312;
    border-radius: 3px;
    cursor: pointer;
    transition: border 0.2s;
}

.cookie-container:hover{
    border:1px solid #0a5d00;
}

.test{
    text-shadow: -1px -1px 0px #404040; 
    font-size: 20px;
    font-weight: bold;
    color: #121312;
    transition: color 0.2s;
}

.cookie-container > .test:hover{
    color:#0a5d00;
}

.cookie-unfold{
    width: 100%;
    height: 50px;
    background-color: #404040;
    border: 1px solid #121312;
    border-radius: 3px;
    cursor: pointer;
}

.cookie-unfold > span:hover{

}

.m-top{
    margin-top: 10px;
}

#puntuacioActual{
    width: 92%;
    height: 90px;
    background-image: url('../resources/brick.jpg');
    background-size: 184px 184px;
    border: 1px solid #404040;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#puntuacioActual > div {
    background-color: #343531;
    border: 1px solid #404040;
    width: 140px;
    height: 75px;
}

#puntuacio{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #121312;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#vida {
    margin-top: 10px;
}

#vida > img {
    width: 30px;
    height: 30px;
    filter: invert(4%) sepia(24%) saturate(140%) hue-rotate(71deg) brightness(94%) contrast(92%);
}

#errorentrada {
    background-color: #343531;
    width: 90%;
    height: 50px;
    border: 1px solid #404040;
    border-radius: 4px;
}

#errorentrada > span {
    font-size: 23px;
    color: #2d0714;
}

#backToBase > img {
    width: 30px;
    height: 30px;
    filter: invert(4%) sepia(24%) saturate(140%) hue-rotate(71deg) brightness(94%) contrast(92%);
    margin-top: 0px;
    cursor: pointer;
    transition: filter 0.4s;
}

#backToBase > img:hover{
    filter:invert(25%) sepia(33%) saturate(2502%) hue-rotate(79deg) brightness(93%) contrast(102%);
}

.vida-extra{
    width: 50px;
    height: 90px;
    margin-top: 30px;
}

.star-show{
    width: 50px;
    height: 50px;
    margin-top: 60px;
}

.double-points{
    width: 65px;
    height: 50px;
    margin-top: 60px;
}

.meitat-zombies{
    width: 50px;
    height: 60px;
    margin-top: 60px;
}

/*
DIV 2
*/
#gameDisplay{
    width: 80%;
    align-items: center;
    margin-top: 10px;
}

#gameDisplay > img {
    height: 80px;
    width: 100px;
}

#gameDisplay > span{
    color: #121312;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: -1px -1px #404040;
}

#gameDisplay > div > div > div {
    border: 1px solid #404040;
    margin:5px;
    border-radius: 3px;
}

#header-cookie{
    height: 100%;
}

#header-cookie > span{
    font-size: 22px !important;
}

.board{
    background-color: white;
    cursor: pointer;
    z-index: 2;
}

.board > img{
    margin-bottom: 65px;
}

.grass{
    width: 70px;
    height: 70px;
    margin-bottom: 0px !important;
}

.grass-destapat{
    filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(500%) contrast(0.7);
}

.min{
    width: 35px;
    height: 35px;
}

.normal{
    width: 50px;
    height: 50px;
}

.max{
    width: 70px;
    height: 70px;
}

/* sobreescritura */

.destapat{
    background-color: transparent;
    z-index: 1;
}

img {
    z-index: 1;
}

